.main{
    border:2px solid black;
    height: 97vh;
    width: 70vw;
    margin: auto;
}

.logo{
    border:3px solid red;
    height: 15vh;
    width: 100%;
}

.nav_bar{
    border:3px solid green;
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body{
    border:3px solid blue;
    height: 75%;
    padding: auto;
}
#logo{
    height: 15vh;
    
    
}
#bttn{
    height: 5vh;
    width:100px;
    border:4px solid black;
    border-radius: 30px;
    background-color: gold;
    transition: 0.3s;
    font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
    font-size: 20px;
    
    margin:10px;
    text-align: center;
    text-decoration: none;

    
}
#bttn:hover{
    opacity:0.3;
}
#title{
    height: 20px;
}

.weatherThing{
    border: 3px solid blue;
    width: 150px;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}

.rainIcon{
    height: 24px;
    width: 24px;
    
    
}
.cloudIcon{
    height: 24px;
    width: 24px;
  
    
}

